.Container {
    height: 75vh;
    background-image: url(./brisket-burnt-ends.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 565px;
    text-align: center;
    color: white;
    font-family: 'Rowdies', cursive;
}


