.Container {
    height: 75vh;
    background-image: url(./brisket-burnt-ends.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    margin-top: 200px;
    text-align: center;
    color: white;
    font-family: 'Rowdies', cursive;
    h1 {
        margin-top: 300px;
    }
}


