.Container {
    height: 75vh;
    background-image: url(./brisket-burnt-ends.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    text-align: center;
    color: white;
    font-family: 'Rowdies', cursive;
    background: rgba(255, 0, 0, 0.144);
    height: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    h1{
        align-self: center;
    }
}


