.Container {
    height: 75vh;
    background-image: url(./brisket-burnt-ends.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 2;
}

.jumbotron {
    text-align: center;
    color: white;
    font-family: 'Rowdies', cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    left: 0;
    right: 0;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
   .btn{
       background: #9F635A;
       text-shadow: none;
       font-size: large;
       
       &:hover {
           background: #9F635A;
           box-shadow: 0px 0px 10px 3px rgb(39, 8, 8);
       } 
   }
}


