.footer {
    margin-top: 20px;
    background: #331310;
    color: white;
    padding: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .footerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialMedia {
        color: white;
        display: flex;
        justify-content: space-around;
    }
}

